/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
}

.gird_child,
.gird div {
    padding: 20px;
    text-align: center;
}

.row_add {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.colum_add {
    grid-column-start: 2;
    grid-column-end: 4;
} */

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
    grid-gap: 50px;
}

.grid_child{
    padding: 10px;
    text-align: center;
    color: #fff;

}