h1 {
    text-align: center;
}


.position_relative {
    border: 2px solid red;
    width: 1000px;
    height: 500px;
}

.position_relative_child {
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 50px;
}

.position_absolute {
    border: 2px solid brown;
    width: 1000px;
    height: 500px;
    position: relative;
}

.position_absolute_child {
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.position_fixed {
    position: fixed;
    top: 50px;
    right: 50px;
}

