*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: roboto;
    src: url(../Jersey_25,Roboto_Slab/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

body{
    font-family: roboto;
}




/* start nav */

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    font-size: 25px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

}

.nav_logo{
    width: 130px;
    height: 100px;
    border-radius: 10px;
}

.nav_bar ul li{
    display: inline-block;
}

.nav_link{
    text-decoration: none;
    padding: 0 15px;
    color: #000;
    font-weight: bold;
}

.nav_link:hover{
    display: inline-block;
    transform: translateY(-5px);
    transition: 0.5s;
}

.nav_login{
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 8px 18px;


    /* display: inline-block;
    text-decoration: none;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 15px;
    color: #fff; */
}

.nav_login:hover{
    background-color: #000;
    color: #fff;
}

/* end nav */

/* start banner */

.banner{
    width: 100%;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.8);
}


/* end banner */

/* start samsung */

.samsung{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
}

.samsung_phone{
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.samsung_name{
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

.samsung_img{
    width: 100%;
}

.old_price{
    margin: 0 0 30px 100px;
    text-decoration: line-through;
}

.new_price{
    margin: 0 0 30px 100px;
}

.order{
    display: inline-block;
    margin: 0 50px 50px 0px;
    text-decoration: none;
    font-size: 23px;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    float: right;
}

.order:hover{
    background-color: #000;
    color: #fff;
}


/* end samsung */

/* start sign in */

/* end sign in */

.signin{
    width: 40%;
    text-align: center;
    margin: 80px 30%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    padding: 80px 0;
    border-radius: 10px;
    /* background-color: #3c3c3c;*/
    background: linear-gradient(#1c2a47,#454852,#757f95);

}

.signin h1{
    color: #fff;
}

.email{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.password{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
}


/* start footer */

.footer{
    margin-top: 50px;
    padding: 50px 100px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.footer_logo{
    width: 130px;
    height: 100px;
}

.footer_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_link{
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


/* end footer */